hl {
  color: white;
  font-size: 30
}
ul {
  font-size: 42px
}
div {
  color: yellow;
}
#yeoo {
  color: white;
}

img {
  width: 500
}
.lit {
  color: blue;
  font-size: 70
}
  .menu {
    list-style:none;
    float: middle;
  }
li {
  color: red;
}
b { 
  font-size: 30
}
Body{
  background-image:url("https://s-media-cache-ak0.pinimg.com/236x/01/0b/68/010b68214bf1eeb91060732aa58bed1e.jpg")
